* {
    margin: 0;
    font-family: arial;
}

.all-content {
    background-color: #0f1014;
    margin-left: 10%;
    position: absolute;
    width: 90%;
}

.side-panel {
    background-color: #0f1014;
    width: 10%;
    position: fixed;
    height: 100%;
}

.icons {
    margin-top: 110px;
    vertical-align: middle;
    margin-left: 30px;
}

.icon {
    height: 20px;
    width: 20px;
    color: #b3afaf;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.logo {
    text-align: center;
}

.hotstar-logo {
    height: 50px; 
    background-size: cover;
    margin-top: 20px;
    margin-left: 10px;
}

.paragraph {
    color: #e4c724;
    margin-left: 30px;
    background-color: #352f11;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.7rem;
    width: 80px;
    border: 0.8px solid transparent;
    text-align: center;
}

.top-section {
    display: flex;
    background-color: #16181f;
    border-radius: 10px;
    height: 260px;
    
    margin-left: 5px;
    margin-bottom: 20px;
    width: 90%;
}

.top-image-details {
    margin-left: 20px;
    padding: 8px;
}

.top-section-image {
    background-size: cover;
    height: 260px;
    width: 580px;
    border-radius: 10px;
}

.disney-hotstar {
    display: flex;

}

.mini-img {
    background-size: cover;
    height: 50px;
    margin-top: 13px;
    border-radius: 3px;
    margin-right: 10px;
    width: 50px;
}

.main-id {
    margin-top: 20px;
}

.paragraph2 {
    color: white;
    padding: 0px;
    font-size: 1rem;
}

.paragraph3 {
    color: #8f98b2;
    padding-top: 8px;
    font-size: 0.8rem;
}

.paragraph4 {
    color: #e1e6fd;
    font-size: 0.9rem;
    font-family: arial;
    margin-top: 10px;
    cursor: pointer;
}

.btn-subscribe {
    color: #e1e6f0;
    background-color: #252833;
    padding: 8px 32px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 80px;
}

.border {
    border: 1px solid transparent;
}

.border :hover {
    border: 1px solid #ffffff;
}

.main-image {
    background-image: url("sec/1524157-i-2831ab27add0.jpg (6).jpg");
    background-size: cover;
    height: 610px;
    margin-left: 5px;
    border-radius: 10px;
}

.background {
    filter: drop-shadow(30px 30px 40px black);
    margin-top: 310px;
    padding: 20px;
    
}

.image-panel {
    display: flex;
    align-items: end;
}

.image-on-image {
    background-size: cover;
    height: 80px;
    margin-left: 45px;
    margin-bottom: 20px;
}

ul li  {
    color: white;
    font-family: arial;
    margin-left: 20px;
    padding: 10px;
}

ul {
    display: flex;
}

.list {
    font-family: arial;
    background-color: #ffffff33;
    color: #ffffff;
    border-radius: 20px;
}

.watch-now-btn {
    background-color: #252833;
    padding: 12px 16px;
    width: 220px;
    font-size: 1.3rem;
    border-radius: 8px;
    margin-left: 40px;
    color: #e1e6f0;
    border: 1px solid transparent;
    margin-top: 20px;
    cursor: pointer;
}

.heading {
    font-family: arial;
    font-size: 1.4rem;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.images-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-box {
    height: 260px;
    width: 180px;
    background-size: cover;
    border-radius: 8px;
    margin-left: 5px;
}

.images-container2 {
    display: flex;
    justify-content: start;
    
    
}

.all-vidoes {
    display: flex;
    margin-top: 10px;
    
}

.video-auto {
    height: 100px;
    margin-left: 5px;
    border-radius: 6px;
    margin-top: 40px;
}

.all-genres {
    display: flex;
    justify-content: space-around;
}

.box1 {
    background-color: #092230;
    height: 150px;
    width: 270px;
    font-family: arial;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 7px;
    margin-left: 6px;
}

.box2 {
    background-color: #4d2e2e;
    height: 150px;
    width: 270px;
    font-family: arial;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 7px;
    margin-left: 6px;
}

.box3 {
    background-color: #373463;
    height: 150px;
    width: 270px;
    font-family: arial;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 7px;
    margin-left: 6px;
}

.box4 {
    background-color: #4b2020;
    height: 150px;
    width: 270px;
    font-family: arial;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 7px;
    margin-left: 6px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 50px;
    padding-bottom: 70px;
}

.heading4 {
    font-family: arial;
    font-size: 1rem;
    color: white;
}



/*...........strange movie page...........*/




.video {
    background-size: cover;
    border-radius: 10px;
}

.video-play {
    width: 100%;
    height: 100%;
    
}

.background2 {
    padding: 10px;
    margin-top: 20px;
}

.paragraph5 {
    color: white;
    font-size: 1rem;
    margin-left: 30px;
    padding: 10px;
}

.all-language {
    margin-left: 30px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.language {
    color: #ffffffd6;
    text-decoration: none;
    margin-right: 30px;
}

.select-language {
    background-color: #ffffff33;
    border-radius: 17px;
    padding: 10px;
}

.Subscribe-watch-btn {
    background-color: #e1e6f0;
    padding: 12px 16px;
    width: 220px;
    font-size: 1.3rem;
    border-radius: 8px;
    margin-left: 40px;
    color: #0f1014;
    width: 400px;
    margin-top: 20px;
    cursor: pointer;
}

.footer-logo {
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-bottom: 60px;
}

.footer-logo img {
    height: 40px;
    width: 120px;
    padding: 5px;
    
}




/*...........search page...........*/





.search-bar {
    display: flex;
    border: none;
    margin-top: 40px;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 28px;
    width: 60px;
    height: 65px;
    background-color: #2b303c;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #e5e5e5;
    
}

.search-panel {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
    width: 1000px;
    height: 65px;
    background-color: #2b303c;
    font-size: 1.2rem;
    color: #e5e5e5;

}

.image-box2 {
    height: 200px;
    width: 150px;
    background-size: cover;
    border-radius: 8px;
    margin-left: 5px;
    
}



.account-html {
    background-image: url("background-2.jpg");
    height: 100%;
    background-size: cover;

}

.account-button {
    display: flex;
    justify-content: end;
}

.image-account {
    display: flex;
    justify-content: center;
}

.account-image {
    height: 130px;
    width: 330;
    margin-top: 50px;
}

.text-align {
    text-align: center;
}

.heading-accounts {
    display: flex;
    justify-content: center;
}

.login-heading {
    color: white;
    padding: 10px;
    
}

.log-in-btn {
    height: 50px;
    width: 200px;
    background-color: #4e4eff;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: medium;
    margin-top: 20px;
    
}